DATABASE_URL=Data Source=127.0.0.1,1433;Network Library=DBMSSOCN;Initial Catalog=WAPRO_DEMO;User Id=api;Password=qwerty;Encrypt=false;TrustServerCertificate=True;
DB_HOST=127.0.0.1
DB_USER=api
DB_PASSWORD=qwerty
DB_NAME=WAPRO_DEMO
DB_FILENAME=local.dev.db

